<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b1d66eec28.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="cabecalho">
        <div class="logo"><i class="fa-brands fa-pied-piper-pp logo"></i></div>
        <a href="/home">Home</a>
        <a href="/cadusuario">Novo Usuário</a>
        <a href="/cadcliente">Novo Cliente</a>
        <a href="/cadprodutos">Novo Produto</a>
        <a href="/sair">Sair</a>
        <a href="#" id="usuariobot"><%= %></a>
        
        
        
    </div>

    <div class="container">

        <div class="dados">
            <h3>Usuários</h3>
            <table border="1">
           
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                    
                </tr>
            <% for(var i = 0; i < usuarios.length; i++){ %>
                <tr>
                    <td><center><%= usuarios[i].id %></center></td>
                    <td><%= usuarios[i].nome %></td>
                    <td><%= usuarios[i].usuario %></td>
                    <td><%= usuarios[i].senha %></td>
                    <td><%= usuarios[i].tipo %></td>
                    <td><center><%= usuarios[i].status %></center></td>
                    <td><center><a href="/usuario/<%= usuarios[i].id %>" id="editar"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></center></td>
                    <td><center><a href="/excluir/<%= usuarios[i].id %>"><i class="fa-solid fa-trash"></i></a></center></td>

                    
                </tr>
            <% } %>
            </table>


        </div>
        
        
    </div>
    <footer>
        <center>Copyright &copy; 2022 - Todos os Direitos Reservados.</center>
         
    </footer>
    
</body>
</html>